<!DOCTYPE html>
<html>
  <head>
    <title><%= post.author.username %>'s Catch</title>
    <% include partials/header %>
    <% include partials/loginbar %>
      <div class="container">
        <% include partials/message %>
          <div class="box">
            <div class="columns">
              <div class="column is-6">
                <figure class="image">
                  <img src="<%= post.image %>">
                </figure>
              </div>
              <div class="column is-6">
                <figure>
                  <p style="font-size: 22px"><strong><img src="/icons/user.svg" class="svg-icon-20"><%= post.author.username %></strong></p>
                  <p><img src="/icons/map-sign.svg" class="svg-icon-small">
                    <a style="color: black;" href="/locations/<%= post.catchlocationid %>"><%= post.catchlocation %></a>
                  </p>
                  <time>
                    <%
                    var msInDay = 1000*60*60*24;
                    var currentDate = new Date(Date.now())
                    function dateDiff(postedDate, currentDate){
                      let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                      let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                      return Math.floor((utc2 - utc1) / msInDay);
                    } %>
                    <% if(dateDiff(post.createdAt, currentDate) === 0){ %>
                      <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 6px;" class="svg-icon-small"> Today</p>
                    <% } %>
                    <% if(dateDiff(post.createdAt, currentDate) === 1){ %>
                      <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 6px;" class="svg-icon-small"> Yesterday</p>
                    <% } %>
                    <% if(dateDiff(post.createdAt, currentDate) > 1){ %>
                      <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 6px;" class="svg-icon-small"><%= dateDiff(post.createdAt, currentDate) %> days ago</p>
                    <% } %>
                  </time>
                  <br>
                  <br>
                  <div class="content">
                    <p><%= post.description %></p>
                  </div>
                  <br>
                  <br>
                </figure>
              </div>
            </div>
            <% if(currentUser && post.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
              <div style="text-align: center">
                <a class="button is-small is-warning" href="/locations/<%= post._id %>/catch/<%= post._id %>/edit">
                  <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                </a>
                <form class="sameLine" action="/locations/<%= post._id %>/catch/<%= post._id %>?_method=DELETE" method="POST">
                  <button class="button is-small is-danger">
                    Delete
                  </button>
                </form>
              </div>
            <% } %>
          </div>
	        <br>
	        <br>
</div>
<script>

</script>
<% include partials/footer %>
