<!DOCTYPE html>
<html>
<head>
    <title>fishingBakersfield | Feed</title>
<%- include('partials/header') %>
<%- include('partials/loginbar') %>
<%- include('partials/message') %>
<br>
    <div class="container">
      <div class="box">
         <!-- CATCH CARDS -->
         <div class="masonry">
           <% for (var i = 0; i < posts.length; i++) { %>
  		         <div class="item">
		               <div class="card">
                     <div class="card-header">
                       <figure class="image">
                         <img src="<%= posts[i].image %>" alt="<%= posts[i].species %>">
                       </figure>
                     </div>
                     <div class="card-content">
                       <div class="media">
                         <div class="media-content">
                           <p class="title is-5"><a href="/locations/<%= posts[i].catchlocationid %>">
                             <i class="fas fa-map-marker"></i>&nbsp;<%= posts[i].catchlocation %></a>
                           </p>
                           <p class="subtitle is-6" style="color: black"><i class="fas fa-user"></i>&nbsp;<%= posts[i].author.username %>
                             <span style="float: right"><i class="fas fa-clock"></i>
                               <%
                               var msInDay = 1000*60*60*24;
                               var currentDate = new Date(Date.now())
                               function dateDiff(postedDate, currentDate){
                                 let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                                 let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                                 return Math.floor((utc2 - utc1) / msInDay);
                               } %>
                               <% if(dateDiff(posts[i].createdAt, currentDate) === 0){ %>
                                 Today
                               <% } %>
                               <% if(dateDiff(posts[i].createdAt, currentDate) === 1){ %>
                                 Yesterday
                               <% } %>
                               <% if(dateDiff(posts[i].createdAt, currentDate) > 1){ %>
                                 <%= dateDiff(posts[i].createdAt, currentDate) %> days ago
                               <% } %>
                            </span></p>
                            <% if(currentUser && currentUser.isAdmin){ %>
                              <form class="sameLine" action="/locations/<%= posts[i].catchlocationid %>/catch/<%= posts[i]._id %>?_method=DELETE" method="POST">
                                <button class="button is-small is-danger">
                                  Delete
                                </button>
                              </form>
                            <% } %>
                         </div>
                       </div>
                       <hr>
                       <div class="content">
                         <p style="color: black"><%= posts[i].description %></p>
                       </div>
                     </div>
                   </div>
                 </div>
                 <br>
           <% } %>
        </div>
      </div>
      <% if (pages > 0) { %>
        <nav class="pagination" role="navigation" aria-label="pagination">
        <% if (Number(current) - 1 > 0) { %>
          <a class="pagination-previous" href="/catches/<%= Number(current) - 1 %>"><img src="/icons/circle-arrow-left.svg" class="svg-icon-small">Previous</a>
        <% } else { %>
	        <a class="pagination-previous" disabled><img src="/icons/circle-arrow-left.svg" class="svg-icon-small">Previous</a>
	      <% } %>
	      <% if (Number(current) + 1 <= pages) { %>
          <a href="/catches/<%= Number(current) + 1 %>" class="pagination-next"><img src="/icons/circle-arrow-right.svg" class="svg-icon-small">Next page</a>
        <% } else { %>
          <a class="pagination-next" disabled><img src="/icons/circle-arrow-right.svg" class="svg-icon-small">Next page</a>
	      <% } %>
        <ul class="pagination-list">
        <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
          <% if (current == 1) { %>
            <li>
               <a class="pagination-link" disabled>First</a>
            </li>
          <% } else { %>
            <li>
               <a class="pagination-link" href="/catches/1">First</a>
            </li>
	    		<% } %>
            <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
              <% if (i == current) { %>
                <li>
                   <a class="pagination-link is-current"><%= i %></a>
                </li>
              <% } else { %>
		             <li>
			             <a class="pagination-link" href="/catches/<%= i %>"><%= i %></a>
		             </li>
		          <% } %>
		          <% } %>
          <% if (current == pages) { %>
				   <li>
		    	   <a class="pagination-link" disabled>Last</a>
				   </li>
          <% } else { %>
				   <li>
		    		<a href="/catches/<%= pages %>" class="pagination-link">Last</a>
				   </li>
          <% } %>
          </ul>
        </nav>
        <% } %>
      </div>
<%- include('partials/footer') %>
