<!DOCTYPE html>
<html>
  <head>
    <title><%= location.name %> Fishing</title>
    <%- include('partials/header') %>
    <%- include('partials/loginbar') %>
    <div class="container">
      <%- include('partials/message') %>
      <!-- BACK BUTTON -->
      <a class="button" href="/"><img src="/icons/arrow-left.svg" class="svg-icon-small">
        All Locations
      </a>
      <br>
      <br>
      <!-- LOCATION CONTENT -->
      <div class="box">
        <div class="columns">
          <!-- LOCATION IMAGE -->
          <div class="column is-6">
            <figure class="image">
              <img src="<%= location.image %>">
            </figure>
          </div>
          <div class="column is-6">
            <figure>
              <div class="content">
                <h1><img src="/icons/map-sign.svg" class="svg-icon-md">&nbsp;<%= location.name %></h1>
                <hr>
                <%- location.description %>
              </div>
            </figure>
          </div>
        </div>
        <!-- NAVIGATION BUTTON -->
        <div style="text-align: center">
          <a class="button" style="width: 90%;" href="http://www.google.com/maps/place/<%= location.gps %>">
            <img src="/icons/map.svg" class="svg-icon-small">Open In Maps
          </a>
        </div>
        <!-- ADMIN BUTTONS -->
        <% if(currentUser && currentUser.isAdmin){ %>
          <div style="text-align: center">
            <br>
            <a style="width: 45%;" class="button is-warning" href="/locations/<%= location._id %>/edit">
              Edit
            </a>
            <form class="sameLine" action="/locations/<%= location._id %>?_method=DELETE" method="POST">
              <button style="width: 45%;" class="button is-danger">Delete</button>
            </form>
          </div>
        <% } %>
      </div>
      <!-- CATCHES -->
	    <div class="box">
        <p style="font-size: 12px">Sorted By: <img src="/icons/clock.svg" class="svg-icon-xs">Oldest</p>
        <br>
        <div style="text-align: center">
          <a style="width: 98%" class="button is-success" href="/locations/<%= location._id %>/catch/new">
            <img src="/icons/plus-white.svg" class="svg-icon-small">Add Catch</a>
        </div>
          <br>
            <div class="columns is-multiline">
              <% if(location.catches.length == 1){ %>
                <div class="column is-6">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image">
                        <img src="<%= location.catches[0].image %>">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <p class="title is-4" style="color: black"><img src="/icons/user.svg" class="svg-icon-20"><strong><%= location.catches[0].author.username %></strong></p>
                          <p class="subtitle is-6" style="color: black"><em><%= location.catches[0].species %></em></p>
                        </div>
                      </div>
                      <div class="content">
                        <p style="color: black"><%= location.catches[0].description %></p>
                        <%
                        var msInDay = 1000*60*60*24;
                        var currentDate = new Date(Date.now())
                        function dateDiff(postedDate, currentDate){
                          let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                          let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                          return Math.floor((utc2 - utc1) / msInDay);
                        } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) === 0){ %>
                          <p style="color: black; "><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Today</p>
                        <% } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) === 1){ %>
                          <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Yesterday</p>
                        <% } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) > 1){ %>
                          <p style="color: black;"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"><%= dateDiff(location.catches[0].createdAt, currentDate) %> days ago</p>
                        <% } %>
                      </p>
                        <div>
                          <% if(currentUser && location.catches[0].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                          <div style="text-align: center;">
                            <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>/edit">
                              <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                            </a>
                            <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>?_method=DELETE" method="POST">
                              <button class="button is-small is-danger">
                              <i class="fa fa-trash">&nbsp;</i>Delete</button>
                            </form>
                          </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
                    <a class="card-footer-item" href="/catch/<%= location.catches[0]._id %>">
                      <img src="/icons/anchor.svg" class="svg-icon-small">&nbsp;<p style="color: black;">Open</p>
                    </a>
                  </div>
                </div>
              <% } %>
              <% if(location.catches.length >= 2){ %>
                <!-- FIRST CARD -->
                <div class="column is-6">
                  <div class="card">
                    <div class="card-image">
                      <figure class="image">
                        <img src="<%= location.catches[0].image %>">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <p style="color: black" class="title is-4"><img src="/icons/user.svg" class="svg-icon-20">
                            <strong><%= location.catches[0].author.username %></strong>
                          </p>
                          <p style="color: black" class="subtitle is-6"><em><%= location.catches[0].species %></em></p>
                        </div>
                      </div>
                      <div class="content">
                        <p style="color: black"><%= location.catches[0].description %></p>
                        <%
                        var msInDay = 1000*60*60*24;
                        var currentDate = new Date(Date.now())
                        function dateDiff(postedDate, currentDate){
                          let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                          let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                          return Math.floor((utc2 - utc1) / msInDay);
                        } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) === 0){ %>
                          <p style="color: black; "><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Today</p>
                        <% } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) === 1){ %>
                          <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Yesterday</p>
                        <% } %>
                        <% if(dateDiff(location.catches[0].createdAt, currentDate) > 1){ %>
                          <p style="color: black;"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"><%= dateDiff(location.catches[0].createdAt, currentDate) %> days ago</p>
                        <% } %>
                        <div>
                          <% if(currentUser && location.catches[0].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                            <div style="text-align: center">
                              <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>/edit">
                                Edit
                              </a>
                              <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>?_method=DELETE" method="POST">
                                <button class="button is-small is-danger">
                                <i class="fa fa-trash">&nbsp;</i>Delete</button>
                              </form>
                            </div>
                          <% } %>
                        </div>
                      </div>
                    </div>
							      <footer class="card-footer">
							        <a class="card-footer-item" href="/catch/<%= location.catches[0]._id %>"><img src="/icons/anchor.svg" class="svg-icon-small">&nbsp;<p style="color: black;">Open</p></a>
							      </footer>
                </div>
              </div>
              <!-- SECOND CARD -->
              <div class="column is-6">
                <div class="card">
                  <div class="card-image">
                    <figure class="image">
                      <img src="<%= location.catches[1].image %>">
                    </figure>
                  </div>
                  <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <p style="color: black" class="title is-4"><img src="/icons/user.svg" class="svg-icon-20"><strong><%= location.catches[1].author.username %></strong></p>
                        <p style="color: black" class="subtitle is-6"><em><%= location.catches[1].species %></em></p>
                      </div>
                    </div>
                    <div class="content">
                      <p style="color: black"><%= location.catches[1].description %></p>
                      <%
                      var msInDay = 1000*60*60*24;
                      var currentDate = new Date(Date.now())
                      function dateDiff(postedDate, currentDate){
                        let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                        let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                        return Math.floor((utc2 - utc1) / msInDay);
                      } %>
                      <% if(dateDiff(location.catches[1].createdAt, currentDate) === 0){ %>
                        <p style="color: black; "><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Today</p>
                      <% } %>
                      <% if(dateDiff(location.catches[1].createdAt, currentDate) === 1){ %>
                        <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Yesterday</p>
                      <% } %>
                      <% if(dateDiff(location.catches[1].createdAt, currentDate) > 1){ %>
                        <p style="color: black;"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"><%= dateDiff(location.catches[1].createdAt, currentDate) %> days ago</p>
                      <% } %>
                      <div>
                        <% if(currentUser && location.catches[1].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                          <div style="text-align: center">
                            <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[1]._id %>/edit">
                              Edit
                            </a>
                            <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[1]._id %>?_method=DELETE" method="POST">
                              <button class="button is-small is-danger">
                                Delete
                              </button>
                            </form>
                      </div>
                          <% } %>
                    </div>
                  </div>
                </div>
							 <footer class="card-footer">
							   <a class="card-footer-item" href="/catch/<%= location.catches[1]._id %>"><img src="/icons/anchor.svg" class="svg-icon-small">&nbsp;<p style="color: black;">Open</p></a>
							 </footer>
            </div>
          </div>
        <% } %>
      </div>
     <!-- IF NO CATCHES DISPLAY MESSAGE -->
     <% if(location.catches.length < 1 || undefined){ %>
       <p style="text-align: center;">No one has posted a catch here yet!</p>
     <% } %>
		 <div style="text-align: center">
    <!-- VIEW ALL BUTTON -->
		 <% if(location.catches.length > 2){ %>
       <a style="width: 93%;" class="button" href="/locations/<%= location._id %>/catches"><img src="/icons/archive.svg" class="svg-icon-small">View All (<%= location.catches.length %>)</a>
    <% } %>
	</div>
  </div>
</div>
<%- include('partials/footer') %>
