<!DOCTYPE html>
<html>
<head>
    <title><%= location.name %> Information - fishingBakersfield</title>
<% include partials/header %>
<% include partials/loginbar %>
<div class="container">
<% include partials/message %>
<a class="button" href="/"><i class="fa fa-arrow-left">&nbsp;</i>All Locations</a>
<br>
<br>
      <div class="box">
                              <div class="columns">
                                          <div class="column is-6">
                                                      <figure class="image">
                                                                  <img src="<%= location.image %>">
                                                      </figure>
                                          </div>
                                          <div class="column is-6">
                                                          <figure>
                                                            <div class="content">
                                                                      <h1><i class="fa fa-map-signs">&nbsp;</i><%= location.name %></h1>
								      <hr>
                                                                      <%- location.description %>
                                                            </div>
                                                          </figure>
                                          </div>
                              </div>
                              <div style="text-align: center">
                                    <a class="button" style="width: 90%;" href="http://www.google.com/maps/place/<%= location.gps %>"><i class="fa fa-map-marker">&nbsp;</i>Open In Maps</a>
                              </div>
                              <% if(currentUser && currentUser.isAdmin){ %>
                                                  <div>
                                                                    <br>
                                                                    <a class="button is-small is-warning" href="/locations/<%= location._id %>/edit">
                                                                        <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                                                                    </a>
                                                                    <form class="sameLine" action="/locations/<%= location._id %>?_method=DELETE" method="POST">
                                                                              <button class="button is-small is-danger">
                                                                              <i class="fa fa-trash">&nbsp;</i>Delete</button>
                                                                    </form>
                                                  </div>
                              <% } %>
      </div>
	    <div class="box">
            <p style="font-size: 12px">Sorted By: <i class="fa fa-clock-o">&nbsp;</i>Most Recent</p>
            <br>
                                    <div class="columns is-multiline">
                                          <% if(location.catches.length == 1){ %>
                                            <div class="column is-6">
                                                <div class="card">
                                                    <div class="card-image">
                                                      <figure class="image">
                                                        <img src="<%= location.catches[0].image %>">
                                                      </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="media">
                                                          <div class="media-left">
                                                              <p class="title is-4"><i class="fa fa-user">&nbsp;</i><strong><%= location.catches[0].author.username %></strong></p>
                                                              <p class="subtitle is-6"><em><%= location.catches[0].species %></em></p>
                                                          </div>
                                                        </div>
                                                        <div class="content">
                                                          <p><%= location.catches[0].description %></p>
                                                          <p class="subtitle is-6"><i class="fa fa-calendar">&nbsp;</i><%= location.catches[0].createdAt.toDateString() %></p>
                                                          <div>
                                                            <% if(currentUser && location.catches[0].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                                                <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>/edit">
                                                                       <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                                                                </a>
                                                                <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>?_method=DELETE" method="POST">
                                                                        <button class="button is-small is-danger">
                                                                        <i class="fa fa-trash">&nbsp;</i>Delete</button>
                                                                </form>
                                                            <% } %>
                                                          </div>
                                                        </div>
                                                    </div>
							<footer class="card-footer">
							<a class="card-footer-item" href="/catch/<%= location.catches[0]._id %>"><i class="fa fa-share">&nbsp;</i>Open</a>
							</footer>
                                                </div>
                                            </div>
                                          <% } %>
                                          <% if(location.catches.length >= 2){ %>
                                            <div class="column is-6">
                                                <div class="card">
                                                    <div class="card-image">
                                                      <figure class="image">
                                                        <img src="<%= location.catches[0].image %>">
                                                      </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="media">
                                                          <div class="media-left">
                                                              <p class="title is-4"><i class="fa fa-user">&nbsp;</i><strong><%= location.catches[0].author.username %></strong></p>
                                                              <p class="subtitle is-6"><em><%= location.catches[0].species %></em></p>
                                                          </div>
                                                        </div>
                                                        <div class="content">
                                                          <p><%= location.catches[0].description %></p>
                                                          <p class="subtitle is-6"><i class="fa fa-calendar">&nbsp;</i><%= location.catches[0].createdAt.toDateString() %></p>
                                                          <div>
                                                            <% if(currentUser && location.catches[0].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                                                <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>/edit">
                                                                       <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                                                                </a>
                                                                <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[0]._id %>?_method=DELETE" method="POST">
                                                                        <button class="button is-small is-danger">
                                                                        <i class="fa fa-trash">&nbsp;</i>Delete</button>
                                                                </form>
                                                            <% } %>
                                                          </div>
                                                        </div>
                                                    </div>
							<footer class="card-footer">
							<a class="card-footer-item" href="/catch/<%= location.catches[0]._id %>"><i class="fa fa-share">&nbsp;</i>Open</a>
							</footer>
                                                </div>
                                            </div>
                                            <div class="column is-6">
                                                <div class="card">
                                                    <div class="card-image">
                                                      <figure class="image">
                                                        <img src="<%= location.catches[1].image %>">
                                                      </figure>
                                                    </div>
                                                    <div class="card-content">
                                                        <div class="media">
                                                          <div class="media-left">
                                                              <p class="title is-4"><i class="fa fa-user">&nbsp;</i><strong><%= location.catches[1].author.username %></strong></p>
                                                              <p class="subtitle is-6"><em><%= location.catches[1].species %></em></p>
                                                          </div>
                                                        </div>
                                                        <div class="content">
                                                          <p><%= location.catches[1].description %></p>
                                                          <p class="subtitle is-6"><i class="fa fa-calendar">&nbsp;</i><%= location.catches[1].createdAt.toDateString() %></p>
                                                          <div>
                                                            <% if(currentUser && location.catches[1].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                                                                <a class="button is-small is-warning" href="/locations/<%= location._id %>/catch/<%= location.catches[1]._id %>/edit">
                                                                       <i class="fa fa-pencil-square-o">&nbsp;</i>Edit
                                                                </a>
                                                                <form class="sameLine" action="/locations/<%= location._id %>/catch/<%= location.catches[1]._id %>?_method=DELETE" method="POST">
                                                                        <button class="button is-small is-danger">
                                                                        <i class="fa fa-trash">&nbsp;</i>Delete</button>
                                                                </form>
                                                            <% } %>
                                                          </div>
                                                        </div>
                                                    </div>
							<footer class="card-footer">
							<a class="card-footer-item" href="/catch/<%= location.catches[1]._id %>"><i class="fa fa-share">&nbsp;</i>Open</a>
							</footer>
                                                </div>
                                            </div>
                                          <% } %>
                                    </div>
                                    <% if(location.catches.length < 1 || undefined){ %>
                                            <p>No one has posted a catch here yet!</p>
                                        <% } %>
				<div style="text-align: center">
				    <% if(location.catches.length > 2){ %>
                                            <a style="width: 93%;" class="button" href="/locations/<%= location._id %>/catches"><i class="fa fa-archive">&nbsp;</i>View All (<%= location.catches.length %>)</a>
                                    <% } %>
				</div>
      </div>
</div>
<% include partials/footer %>
