<!DOCTYPE html>
<html>
<head>
    <title>Change Email - fishingBakersfield</title>
<%- include('../partials/header') %>
<%- include('../partials/loginbar') %>
<div class="container">
<%- include('../partials/message') %>
<a class="button" href="/user/dashboard"><i class="fa fa-arrow-left">&nbsp;</i>Dashboard</a>
<br>
<br>
        <article class="message is-info">
            <div class="message-header">
                <p>Change Email:</p>
            </div>
            <div class="message-body">






    <form action="/user/email?_method=PUT" method="POST">
        <div class="field">
          <label class="label">Current Email</label>
              <div class="control">
                <p><%= currentUser.email %></p>
              </div>
        </div>
        <div class="field">
          <label class="label">New Email</label>
              <div class="control">
                <input class="input" type="text" placeholder="johnsmith@gmail.com" name="updatedEmailAdd">
              </div>
        </div>
             <button id="button" class="button is-link">Submit</button>
    </form>

    </div>
    
    </article>
    
    
    
</div>
<%- include('../partials/footer') %>