<% if(posts.length === null || posts.length === 0){ %>
  <meta http-equiv="refresh" content="0; URL='/notfound'" />
<% } else { %>
<!DOCTYPE html>
<html>
  <head>
    <title>Fish Caught At <%= posts[0].catchlocation %></title>
    <%- include('../partials/header') %>
    <%- include('../partials/loginbar') %>
      <div class="container">
        <%- include('../partials/message') %>
        <a class="button" href="/locations/<%= posts[0].catchlocationid %>">
          <img src="/icons/arrow-left.svg" class="svg-icon-small"><%= posts[0].catchlocation %>
        </a>
        <br>
        <br>
        <div class="box">
	         <div class="content">
	            <p style="font-size: 27px; color: black"><img src="/icons/feed.svg" class="svg-icon-md">
                Fish Caught At <a style="color: black;" href="/locations/<%= posts[0].catchlocationid %>">
                <%= posts[0].catchlocation %></a>:
              </p>
	            <hr>
	          </div>
            <p style="font-size: 12px">Sorted By: <img src="/icons/clock.svg" class="svg-icon-xs">Most Recent</p>
            <br>
		        <div style="text-align: center">
	             <a class="button is-success" style="width: 100%" href="/locations/<%= posts[0].catchlocationid %>/catch/new">
               <img src="/icons/plus-white.svg" class="svg-icon-small">Add Catch</a>
		        </div>
	          <br>
            <div class="masonry">
            <!-- CATCH CARDS -->
              <% for (var i = 0; i < posts.length; i++) { %>
  		          <div class="item">
		              <div class="card">
                    <div class="card-header">
                      <figure class="image">
                        <img src="<%= posts[i].image %>" alt="<%= posts[i].species %>">
                      </figure>
                    </div>
                    <div class="card-content">
                      <div class="media">
                        <div class="media-content">
                          <p class="title is-4"><img src="/icons/user.svg" class="svg-icon-20"><%= posts[i].author.username %></p>
                          <p class="subtitle is-6"><em><%= posts[i].species %></em></p>
                        </div>
                      </div>
                      <div class="content">
                        <%= posts[i].description %>
                        <br>
                        <%
                        var msInDay = 1000*60*60*24;
                        var currentDate = new Date(Date.now())
                        function dateDiff(postedDate, currentDate){
                          let utc1 = Date.UTC(postedDate.getFullYear(), postedDate.getMonth(),postedDate.getDate());
                          let utc2 = Date.UTC(currentDate.getFullYear(), currentDate.getMonth(),currentDate.getDate());
                          return Math.floor((utc2 - utc1) / msInDay);
                        } %>
                        <% if(dateDiff(posts[i].createdAt, currentDate) === 0){ %>
                          <p style="color: black; "><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Today</p>
                        <% } %>
                        <% if(dateDiff(posts[i].createdAt, currentDate) === 1){ %>
                          <p style="color: black"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"> Yesterday</p>
                        <% } %>
                        <% if(dateDiff(posts[i].createdAt, currentDate) > 1){ %>
                          <p style="color: black;"><img src="/icons/calendar.svg" style="margin-right: 2px;" class="svg-icon-small"><%= dateDiff(posts[i].createdAt, currentDate) %> days ago</p>
                        <% } %>
                        <br>
	                      <%# if(currentUser && posts[i].author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin) { %>
                          <div style="text-align: center">
                            <a class="button is-small is-warning" href="/locations/<%= posts[i].catchlocationid %>/catch/<%= posts[i]._id %>/edit">
                              Edit
                            </a>
                            <form class="sameLine" action="/locations/<%= posts[i].catchlocationid %>/catch/<%= posts[i]._id %>?_method=DELETE" method="POST">
                              <button class="button is-small is-danger">
                                Delete
                              </button>
                            </form>
                          </div>
                        <%# } %>
                      </div>
                    </div>
							      <footer class="card-footer">
							        <a class="card-footer-item" href="/catch/<%= posts[i]._id %>">
                        <img src="/icons/anchor.svg" class="svg-icon-small">&nbsp;<p style="color: black">Open</p>
                      </a>
							      </footer>
                  </div>
                </div>
                <br>
            <% } %>
          </div>
        </div>
        <!-- PAGINATION -->
        <% if (pages > 0) { %>
          <nav class="pagination" role="navigation" aria-label="pagination">
            <% if (Number(current) - 1 > 0) { %>
              <a class="pagination-previous" href="/locations/<%= posts[0].catchlocationid %>/catches/<%= Number(current) - 1 %>"><img src="/icons/circle-arrow-left.svg" class="svg-icon-small">Previous</a>
            <% } else { %>
	             <a class="pagination-previous" disabled><img src="/icons/circle-arrow-left.svg" class="svg-icon-small">Previous</a>
	          <% } %>
	           <% if (Number(current) + 1 <= pages) { %>
               <a href="/locations/<%= posts[0].catchlocationid %>/catches/<%= Number(current) + 1 %>" class="pagination-next"><img src="/icons/circle-arrow-right.svg" class="svg-icon-small">Next page</a>
            <% } else { %>
               <a class="pagination-next" disabled><img src="/icons/circle-arrow-right.svg" class="svg-icon-small">Next page</a>
	          <% } %>
            <ul class="pagination-list">
              <% var i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
                <% if (current == 1) { %>
              		<li>
                		<a class="pagination-link" disabled>First</a>
              		</li>
            		<% } else { %>
              		<li>
                		<a class="pagination-link" href="/locations/<%= posts[0].catchlocationid %>/catches/1">First</a>
              		</li>
	    		      <% } %>
                  <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                     <li>
                       <a class="pagination-link is-current"><%= i %></a>
                     </li>
                    <% } else { %>
		                 <li>
			                 <a class="pagination-link" href="/locations/<%= posts[0].catchlocationid %>/catches/<%= i %>"><%= i %></a>
		                 </li>
		                <% } %>
		            <% } %>
            		<% if (current == pages) { %>
				          <li>
		    			      <a class="pagination-link" disabled>Last</a>
				          </li>
            		<% } else { %>
				          <li>
		    			      <a href="/locations/<%= posts[0].catchlocationid %>/catches/<%= pages %>" class="pagination-link">Last</a>
				          </li>
            	 	<% } %>
            </ul>
          </nav>
      <% } %>
    </div>
  <%- include('../partials/footer') %>
<% } %>
